:root {
    --main-color: #F9B233;
  }

body{
    font-family: sans-serif;
}
.container {    
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
/* Start Nav Bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
  }
  .nav-bullets .bullet {
    width: 10px;
    height: 10px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  .nav-bullets .bullet:hover .tooltip {
    display: block;
  }
  .nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    width: 120px;
    color: #FFF;
    padding: 8px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
  }
  .nav-bullets .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  /* End Nav Bullets */  
/* Start landing page */

.landing-page {
    min-height: 100vh;
    background-image: url('../imgs/a1.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.landing-page .container {
    position: relative;
    z-index: 999;
  }
  .header-area {
    position: relative;
    z-index: 2;
    color: #FFF;
    display: flex;
    padding: 10px;
  }
  .header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
  }
  .header-area .links-container {
    width: 100%;
    text-align: right;
  }
  .header-area .links {
    list-style: none;
    padding-left: 0;
  }
  .header-area .links li {
    display: inline-block;
    margin-left: 10px;
  }
  .header-area .links li a {
    color: #FFF;
    text-decoration: none;
    transition: .3s;
  }
  .header-area .links li a:hover,
  .header-area .links li a.active {
    color: var(--main-color);
  }
  .header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
  }
  .header-area .toggle-menu.menu-active:before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left: 10px;
  }
  .header-area .toggle-menu:focus {
    outline: none;
  }
  .header-area .toggle-menu span {
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
  }
  .introduction-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #FFF;
    text-align: center; 
    width: 95%;
  }
  .introduction-text h1 {
    font-size: 34px;
    margin: 0 0 12px;
  }
  
@media (max-width: 575px) {
    .introduction-text h1 {
      font-size: 26px;
    }
  }
  .introduction-text h1 span {
    color: var(--main-color);
  }
  .introduction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
  }
  
@media (max-width: 991px) {
    .header-area .links {
      display: none;
    }
    .header-area .links.open {
      background-color: #FFF;
      padding: 10px;
      display: block;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      border-radius: 4px;
      text-align: left;
    }
    .header-area .links.open li {
      display: block;
      margin: 10px;
    }
    .header-area .links.open li a {
      color: var(--main-color);
      font-weight: bold;
    }
    .header-area .toggle-menu {
      display: inline-block;
    }
  }
/* END landing page */
/* Start About Us */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
  }
  @media (max-width: 767px) {
    .about-us {
      display: block;
      text-align: center;
    }
  }
  .about-us .info-box {
    flex: 1;
    padding: 30px;
  }
  @media (max-width: 767px) {
    .about-us .info-box {
      padding: 0;
    }
  }
  .about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px;
  }
  .about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
  }
  .about-us .image-box {
    flex: 1;
    text-align: center;
  }
  .about-us .image-box img {
    width: 250px;
  }
  /* End About Us */
  
/* Start Contact Us */
.contact {
    min-height: 600px;
    background-image: url('../imgs/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  .contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
    /* background-color: rgb(255 255 255 / 60%); */
  }
  .contact .container {
    position: relative;
    z-index: 2;
  }
  .contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center; 
  }
  .contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
  }
  .contact form .left {
    float: left;
    width: 45%;
  }
  .contact form .right {
    float: right;
    width: 45%;
  }
  @media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
      float: none;
      width: 100%;
    }
  }
  .contact form input:not([type="submit"]),
  .contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
  }
  .contact form input {
    height: 40px;
  }
  .contact form textarea {
    height: 150px;
  }
  .contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #FFF;
    cursor: pointer;
  }
  .contact form textarea:focus::-webkit-input-placeholder,
  .contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
  }
  .contact form textarea:focus:-ms-input-placeholder,
  .contact form input:not([type="submit"]):focus:-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
  }
  .contact form textarea:focus::placeholder,
  .contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
  }
  /* End Contact Us */
  /* Start Footer */
.footer {
    background-color: rgb(209, 194, 194);
    color: rgb(122, 110, 110);
    padding: 10px;
    text-align: center;
  }
  /* End Footer */